.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.card-description {
  font-size: 1rem;
  color: #555;
}

.backgrounds{
  margin: 0;
  padding: 0;
  background-image: url('../storages/next_background.jpg');
  background-size: cover;
  background-attachment: fixed; /* 背景をスクロールせずに固定 */
  height: 100vh; /* 画面の高さに合わせる */
  overflow: hidden;
}

.notes{
  background-color: #fff;
  overflow-y: scroll; /* コンテンツエリアを垂直方向にスクロール可能にする */
  height: 100vh; /* 画面の高さに合わせる */
  padding: 20px; /* 適切なパディングを追加 */
}

.logo {
  text-align: center;
  margin-top: 10px;
}

.description_name{
  font-size: 21px;
  text-align: center;
  letter-spacing: 4px;
  margin-top: 32px;
}

.name{
  font-size: 45px;
  text-align: center;
  margin-bottom: 40px;
}

.longData{
  font-size: 32px;
  text-align: center;
}

.containerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 130px;
  height: 130px;
  margin: 3px;
  background-color: #3498db;
}

.minimum{
  width: 70px;
  height: 70px;
  margin-top: 15px;
  margin-left: 15px;
  color: #fff;
}

.desc{
  margin-left: 30px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 半透明のオーバーレイ */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease;
}

.modal-overlay-open {
  transform: translateX(0) scale(1);
}

.modal {
  background-color: white;
  width: 80%;
  padding: 0px;
  padding-bottom: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(0);
  transition: transform 0.3s ease;
}

.modal-open {
  transform: scale(1);
}

.title{
  color: #fff;
  text-align: right;
  margin-right: 12px;
  margin-top: 12px;
  font-size: 14px;
}

.text-center{
  text-align: center;
}

.modal button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal .description_box {
  width: 100%;
  height: 20vh;
  background-color: #cbcbcb;
}
